In [10]:
import pickle, json
import pandas as pd

In [11]:
model_type = "conversation" # abc or conversation

In [12]:
label2id = {}
id2label = {}

def load_data():
    global NUM_LABELS

    with open(f'../data/raw/{model_type}_points.json', 'r') as f:
        points = json.load(f)

    for item in points:
        label = item["label"]
        if label not in label2id:
            label2id[label] = len(label2id)
            id2label[len(id2label)] = label

    return pd.DataFrame(points).reset_index(drop=True)

data = load_data()
data

     label                                               data
0      yes  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
1      yes  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
2      yes  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
3      yes  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
4      yes  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
...    ...                                                ...
2395   bad  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
2396   bad  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
2397   bad  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
2398   bad  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
2399   bad  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...

[2400 rows x 2 columns]

In [13]:
# Save id2label dict
with open(f"../data/model/{model_type}_id2label.pkl", "wb") as f:
    pickle.dump(id2label, f)

id2label

{0: 'yes',
 1: 'no',
 2: 'hello',
 3: 'bye',
 4: 'how',
 5: 'old',
 6: 'you',
 7: 'me',
 8: 'explore',
 9: 'deaf',
 10: 'good',
 11: 'bad'}

In [14]:
 # Convert labels to numbers
data['label'] = data['label'].apply(lambda x: label2id[x])
data['label'].value_counts()

0     200
1     200
2     200
3     200
4     200
5     200
6     200
7     200
8     200
9     200
10    200
11    200
Name: label, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

# Split data into train and test
train, test = train_test_split(data, test_size=0.2, random_state=42)

with open(f"../data/clean/{model_type}_train.pkl", "wb") as f:
    pickle.dump(train.to_dict('records'), f)

with open(f"../data/clean/{model_type}_test.pkl", "wb") as f:
    pickle.dump(test.to_dict('records'), f)

In [16]:
len(train), len(test)

(1920, 480)

In [17]:
train

      label                                               data
120       0  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
283       1  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
1727      8  [[-1.0, 1.0, 0.04390311241149902], [-0.2837255...
1984      9  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
647       3  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
...     ...                                                ...
1638      8  [[-1.0, 0.9847769737243652, -0.900730669498443...
1095      5  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
1130      5  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
1294      6  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
860       4  [[-0.9586117267608643, 0.5427463054656982, 1.0...

[1920 rows x 2 columns]

In [18]:
test

      label                                               data
2037     10  [[0.23540735244750977, 1.0, 1.0], [-0.31142449...
1978      9  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
855       4  [[-1.0, 0.4522435665130615, 1.0], [-0.83508092...
1719      8  [[-1.0, 1.0, -0.5887061953544617], [-0.2704563...
2019     10  [[-0.4079664349555969, 1.0, 1.0], [-0.75771355...
...     ...                                                ...
1832      9  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
203       1  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
174       0  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
420       2  [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, ...
892       4  [[-1.0, 0.5173733234405518, -0.081478536128997...

[480 rows x 2 columns]